---
title: Getting Started VueJS
layout: "layout-vue-04"
---


<div id="app">
</div>

<div id="normal">
	X: <input type="text" v-model="x">
	<br/>
	Y: <input type="text" v-model="y">
	<br/>
	<p>title : {{title}}</p>
	<p>result : {{result}}</p>
	<p>lastUpdate : {{lastUpdate}}</p>
</div>


